@font-face {
    font-family: 'slogan';
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: 'bold';
    src: url(../fonts/Arvo-Italic.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(../fonts/Arvo-Regular.ttf);
}